# === Global ===
.DS_Store
.env
*.log
__pycache__/
*.py[cod]
*.sqlite3
*.db

# === Python / Django ===
backend/env/                  # virtual environment
backend/__pycache__/
backend/**/*.pyc
backend/db.sqlite3           # if using SQLite

# === Node / React Native ===
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.expo/
frontend/.expo-shared/
frontend/.vscode/

# === OS Files ===
Thumbs.db
